<div class="component-container">
    <mat-card class="mat-elevation-z4">
        <mat-card-title>Teams</mat-card-title>

        <div class="divider">
            <mat-divider></mat-divider>
        </div>

        <div class="component-container-header" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
            <span class="slide-toggle"> Male </span>
            <div class="slide-toggle-gender">
                <mat-slide-toggle class="slide-toggle" [(ngModel)]="checked" (change)="onToggle(checked)" matTooltip="Filter Team by Gender" matTooltipPosition="above"> Female </mat-slide-toggle>
            </div>
           
            <button mat-raised-button (click)="openTeamHistory()" matTooltip="View Team History" matTooltipPosition="above">
                <mat-icon>history</mat-icon>
            </button>
        </div>

        <mat-card-content>
            <mat-accordion class="match-accordion" multi>
                <mat-expansion-panel *ngFor="let teams of teamHistory; let i = index" [expanded]="true">
                    <mat-expansion-panel-header>
                        <div class="match-accordion-panel-header-show" [ngClass]="'match-accordion-panel-header-show-'+teams.teamHistoryShowName | lowercase"></div>
                        <mat-panel-title>
                            {{teams.teamHistoryShowName}}
                        </mat-panel-title>
                        <mat-panel-description>
                            <!-- Type your name and age
                            <mat-icon>account_circle</mat-icon> -->
                        </mat-panel-description>
                        <div class="match-accordion-panel-header-button">
                            M: {{teams.totalMaleMemberCount}} F: {{teams.totalFemaleMemberCount}} T: {{teams.totalTeamMemberCount}}
                        </div>
                    </mat-expansion-panel-header>
                    
                    <div class="match-card-container" fxLayout="row wrap" fxLayout.sm="column" fxLayoutAlign="center">
                        <mat-card class="team-card" [ngClass]="{'team-card-champion': teamlist.teamChampionship != ''}" *ngFor="let teamlist of teams.teamList" fxFlex="15%" fxLayout="column">
                            <div fxLayout="row" fxLayoutAlign="center center">
                                <span class="content-card-title">{{teamlist.teamName}}</span>
                            </div>
                            <div class="divider">
                                <mat-divider inset></mat-divider>
                            </div>
                            <div  fxLayoutGap="10px" fxLayout="row wrap" fxLayout.sm="column" fxLayoutAlign="center">
                                <h5 *ngFor="let teammember of teamlist.superstar" >&bull; {{teammember.superstarName}}</h5>
                            </div>
                            <div *ngIf="teamlist.teamChampionship !=''" fxLayoutAlign="center">
                                <h5>{{teamlist.teamChampionship}}</h5>
                            </div>
                        </mat-card>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-card-content>

        <!-- <mat-card-content fxLayoutGap="10px" fxLayout="column">
            <mat-card class="mat-elevation-z2" *ngFor="let champion of champion; let i = index">
                <h4>{{champion.showName}}</h4>
                <div fxLayoutGap="10px" fxLayout="row">
                    <mat-card fxLayout="column" fxLayoutAlign="center center" *ngFor="let championshiptype of champion.championshipType">
                        <h4>{{championshiptype.championshipName}}</h4>
                        <h4>{{championshiptype.superstarName}}</h4>
                        <h4 *ngIf="championshiptype.superstarName2 != ''">{{championshiptype.superstarName2}}</h4>
                        <h5 *ngIf="championshiptype.ppvName != ''">{{championshiptype.ppvName}}</h5>
                        <h5 *ngIf="championshiptype.ppvName != ''">{{championshiptype.reignCount}}</h5>
                    </mat-card>
                </div>
            </mat-card>
        </mat-card-content> -->

        <mat-divider inset></mat-divider>

        <!-- <mat-card-actions fxLayoutAlign="end center">
            <button mat-flat-button class="button-primary" fxFlex="10%">Done</button>
        </mat-card-actions> -->
    </mat-card>
</div>

