<mat-dialog-content class="dialog-header" fxLayout="row">
    <h2 mat-dialog-title>Edit Championship Type</h2>

    <span class="spacer"></span>

    <button mat-icon-button class="dialog-close-button" matTooltip="Close" [mat-dialog-close]>
        <mat-icon>close</mat-icon>
    </button>
</mat-dialog-content>

<form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="dialog-content">       
    <mat-dialog-content fxfLayout="column" fxLayoutGap="10px">
    
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
            <mat-icon>picture_in_picture</mat-icon>
            <mat-form-field appearance="legacy" fxFlex="80%"> 
                <mat-label>Championship Type Name</mat-label>
                <input matInput formControlName="ctrl_championshiptypename" placeholder="Name of Championship Type" autocomplete="off" required>

                <mat-error *ngIf="formGroup.controls['ctrl_championshiptypename'].hasError('required')">
                    Name of Championship Type is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>
       
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
            <mat-icon>list</mat-icon>
            <mat-form-field appearance="legacy" fxFlex="80%"> 
                <mat-label>Championship Type Order</mat-label>
                <input matInput type="number" min="1" formControlName="ctrl_championshiptypeorder" placeholder="Order of Championship Type" autocomplete="off" required>

                <mat-error *ngIf="formGroup.controls['ctrl_championshiptypeorder'].hasError('required')">
                    Order of championship is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
            <mat-icon>toggle_on</mat-icon>
            <mat-form-field appearance="legacy" fxFlex="80%"> 
                <mat-label>Status of Championship Type</mat-label>
                <mat-select formControlName="ctrl_isactive" placeholder="Select Status" matTooltip="Click to select status" required>
                    <mat-option [value]="true"><span>Active</span></mat-option>
                    <mat-option [value]="false"><span>Inactive</span></mat-option>
                </mat-select>

                <mat-error *ngIf="formGroup.controls['ctrl_isactive'].hasError('required')">
                    Status of Championship Type is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>

    </mat-dialog-content>

    <mat-divider></mat-divider>

    <mat-dialog-actions fxLayoutAlign="end center">
        <button type="submit" mat-raised-button fxFlex="20%" matTooltip="Update">Update</button>
    </mat-dialog-actions>  
</form>
