<div class="component-container">
    <mat-card class="mat-elevation-z4">
        <mat-card-title>Match Management</mat-card-title>

        <mat-card-content>
            <mat-tab-group mat-align-tabs="start">
                <mat-tab label="Title"><app-matchtitle-management></app-matchtitle-management></mat-tab>
                <mat-tab label="Format"><app-matchformat-management></app-matchformat-management></mat-tab>
                <mat-tab label="Type"><app-matchtype-management></app-matchtype-management></mat-tab>
            </mat-tab-group>
        </mat-card-content>
    </mat-card>
</div>

