<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collpased' : ''">
    <div class="logo-container">
        <button class="logo" (click)="toggleCollapse()">W</button>
        <div class="logo-text" *ngIf="collapsed">W2KMUX</div>
        <button class="btn-collapse" *ngIf="collapsed" (click)="closeSidenav()">
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <ul class="sidenav-nav">
        <li class="sidenav-nav-item" *ngFor="let data of navData">
            <a class="sidenav-nav-link" [routerLink]="[data.routeLink]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <mat-icon class="sidenav-link-icon" matTooltip="{{data.label}}" matTooltipPosition="left" *ngIf="!collapsed">{{data.icon}}</mat-icon>
                <mat-icon class="sidenav-link-icon" *ngIf="collapsed">{{data.icon}}</mat-icon>
                <span class="sidenav-link-text" *ngIf="collapsed">{{data.label}}</span>
            </a>
        </li>

        <div class="spacer"></div>

        <div class="sidenav-nav-item">
            <a class="sidenav-nav-link" [matMenuTriggerFor]="settings">
                <mat-icon class="sidenav-link-icon" matTooltip="Settings" matTooltipPosition="left" *ngIf="!collapsed">settings</mat-icon>
                <mat-icon class="sidenav-link-icon" *ngIf="collapsed">settings</mat-icon>
                <span class="sidenav-link-text" *ngIf="collapsed">Settings</span>
            </a>
            <mat-menu #settings="matMenu" yPosition="above">
                <a mat-menu-item [routerLink]="[data.routeLink]" class="sidenav-dropdown-link" *ngFor="let data of navDropDownData">
                    <span>{{data.label}}</span>
                </a>
            </mat-menu>

            <!-- <a class="sidenav-nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" id="dropdownMenuButton1" data-bs-toggle="dropdown">
                <mat-icon>settings</mat-icon>
                <span class="sidenav-link-text" *ngIf="collapsed">Configuration</span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li class="sidenav-dropdown-item" *ngFor="let data of navDropDownData">
                    <a class="sidenav-dropdown-link dropdown-item" [routerLink]="[data.routeLink]">
                        <span class="sidenav-dropdown-link-text">{{data.label}}</span>
                    </a>
                </li>
            </ul> -->
        </div>
    </ul>
</div>